<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <center>
        <form action="/addStudent" method="POST">
            <legend><h1>Agregar Estudiante</h1></legend>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre"><br/><br/>
            <label for="nss">Nss</label>
            <input type="text" id="nss" name="nss"><br/><br/>
            <label for="edad">Edad</label>
            <input type="text" id="edad" name="edad"><br/><br/>
            <label for="tpSangre">Tipo de sangre</label>
            <input type="text" id="tipoSangre" name="tipoSangre"><br/><br/>
            
            <input type="submit" value="submit">
        </form>
    </center>
</body>
</html>